/*FONTS*/
@font-face {
    font-family: 'FuturaMediumC';
    src: url('font_futura/FuturaMediumC.eot');
    src: local('font_futura/Futura Medium Cyrillic'), local('font_futura/FuturaMediumC'),
    url('font_futura/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
    url('font_futura/FuturaMediumC.woff') format('woff'),
    url('font_futura/FuturaMediumC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaDemiC';
    src: url('font_futura/FuturaDemiC-Italic.eot');
    src: local('font_futura/Futura Demi Italic Cyrillic'), local('font_futura/FuturaDemiC-Italic'),
    url('font_futura/FuturaDemiC-Italic.eot?#iefix') format('embedded-opentype'),
    url('font_futura/FuturaDemiC-Italic.woff') format('woff'),
    url('font_futura/FuturaDemiC-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'FuturaLightC';
    src: url('font_futura/FuturaLightC.eot');
    src: local('font_futura/Futura Light Cyrillic'), local('font_futura/FuturaLightC'),
    url('font_futura/FuturaLightC.eot?#iefix') format('embedded-opentype'),
    url('font_futura/FuturaLightC.woff') format('woff'),
    url('font_futura/FuturaLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*HTML Sittings*/
html {
    background-color: #302F2B;
    font-family: 'FuturaMediumC';
    font-weight: 500;
    font-style: normal;

}
body {

}
a {
    text-decoration: none;
    color: #f4f4f4;
}
a:visited {
    color: #f4f4f4;
}
a:hover {
    color: #CAA869;
    text-decoration: underline;
}
/*WRAPPER*/
#wrapper {

}
/*HEADER SITTINGS*/
#header {
    text-align: center;
    color: #CAA869;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 25px 0 25px 0;
}
#logo_name_img {
    object-fit: cover;
    height: 81px;
    width: 81px;
}
#logo_name_1 {
    padding-right: 40px;
}
#logo_name_2 {
    padding-left: 40px;
}
/*END HEADER SITTINGS*/

/*SPECIAL_OFFER_SECTION*/
#special_offer_section {
    background: url("image/top-banner 2.jpg") no-repeat;
    background-size: 100% 100%;
    height: 673px;
    color: #F4F4F4;
    object-fit: cover;
}
/*NAVIGATION*/
#nav_ul {
    list-style-type: none;
    text-align: center;
    font-size: 23px;
}
.nav_ul_li {
    display: inline-block;
    padding: 26px;
}
/*SPECIAL OFFER*/
#sp_offer {
    padding: 154px 0 0 140px;
}
/*SPECIAL OFFER BIG TEXT*/
#sp_offer_1 {
    font-family: 'FuturaDemiC';
    font-weight: normal;
    font-style: italic;
    display: flex;
    flex-direction: row;
    height: 140px;
}
#sp_offer_2 {
    font-family: 'FuturaLightC';
    font-style: italic;
}
#big_two {
    font-size: 180px;
    position: relative;
    top: -26px;
}
#sp_big {
    font-size: 40px;
    text-align: left;
}
#sp_offer_p {
    font-size: 26px;
}
#booking_fc_button {
    background: none;
    color: #CAA869;
    font-size: 30px;
    text-decoration: none;
    padding: .2em 2em;
    outline: none;
    border: 2px solid #CAA869;
    border-radius: 1px;
    transition: 0.2s;
}
#booking_fc_button:hover {
    background: rgba(255,255,255,.2);
}
#booking_fc_button:active {
    background: white;
}
/*END SPECIAL OFFER PART*/

/*SOME THINGS ABOUT US*/
#headline_st {
    text-align: center;
    color: #f4f4f4;
    font-size: 37px;
    background: #CAA869;
    padding: 50px 0;
}
#headline_st:before {
    content: '';
    background: #302F2B;
    height: 3px;
    width: 14%;
    display: inline-block;
    position: relative;
    top: -8px;
    right: 34px;
}#headline_st:after {
     content: '';
     background: #302F2B;
     height: 3px;
     width: 14%;
     display: inline-block;
     position: relative;
     top: -8px;
     left: 34px;
 }
 #main_text_st {
     margin: auto;
     text-align: center;
     font-size: 35px;
     color: #f4f4f4;
     padding-top: 39px;
     width: 62.3%;
     position: relative;
 }
 /*HARD PARTY!!!*/
#plus_st {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
}
/*FIRST ROW*/
#pl_1_1 {
    text-align: left;
    padding: 13% 0 0 35%;
}
#pl_1_2 {
    text-align: left;
    padding: 13% 0 0 19%;
}
.js_number {
    font-size: 65px;
    color: #f4f4f4;
    opacity: 0%;
}
#div_pl_up_1 {
    display: flex;
}
#div_pl_up_2 {
    display: flex;
}
#m2 {
    font-size: 28px;
    color: #f4f4f4;
    padding-top: 24px;
}
.p_pl_down {
    font-size: 30px;
    color: #CAA869;
}
#div_mt {
    font-size: 23px;
    font-family: 'FuturaDemiC';
    font-weight: normal;
    font-style: italic;
    color: #f4f4f4;
    padding-top: 8px;
}
/*SECOND ROW*/
#pl_2_1 {
    text-align: center;
    padding: 16% 0 0 48%;
}
#pl_2_2 {
    text-align: center;
    padding: 16% 0 0 24%;
}

/*LINES*/
/*#pl_2_1:before {
    content: url("image/Line_1.png");
    display: block;
    margin: -74% 38% -12% -31%;
}
#pl_1_2:before {
    content: url("image/Line_2.png");
    display: block;
    margin: -6% 0% -47.2% -46%;
    padding-top: 15%;
}
#pl_1_2:after {
    content: url("image/Line_3.png");
    display: block;
    margin: 0 0 0 0;
}*/
#a_join {
    display: flex;
    padding-top: 91px;
}
#a_j_us {
    font-family: 'FuturaDemiC';
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: #f4f4f4;
    margin: auto;
    background: none;
    font-size: 40px;
    text-decoration: none;
    padding: 0.5em 1.5em;
    outline: none;
    border: 1px solid #CAA869;
    border-radius: 1px;
    transition: 0.2s;
}
#a_j_us:hover {
    background: rgba(255,255,255,.2);
}
#a_j_us:active {
    background: rgba(202,168,105,0.11);
}
/*END HARD PARTY*/

/*START MEMBERSHIP PART*/
#membership {
    padding-top: 7%;
}
#headline_mem {
    text-align: center;
    color: #f4f4f4;
    font-size: 37px;
    background: #757474;
    padding: 50px 0;
}
#headline_mem:before {
    content: '';
    background: #CAA869;
    height: 3px;
    width: 14%;
    display: inline-block;
    position: relative;
    top: -8px;
    right: 34px;
}#headline_mem:after {
     content: '';
     background: #CAA869;
     height: 3px;
     width: 14%;
     display: inline-block;
     position: relative;
     top: -8px;
     left: 34px;
 }
#membership_art {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 55px;
    text-align: center;
    margin: auto;
    padding-top: 7%;
    justify-content: space-between;
    width: 80%;

}
#m6_sec, #m6_12_sec, #m12_sec {
    border: dashed 3px #CAA869;
    border-radius: 6px;
}
#m6_sec {
    height: 87%;
}
#m12_sec {
    height: 96%;
}
#m6_sec:hover, #m6_12_sec:hover, #m12_sec:hover {
    background: rgba(202,168,105,0.11);
    border: 3px solid #CAA869;
}
#d_sec_1 {
    text-align: center;
}
.art_sec_h3 {
    font-size: 37px;
    color: #f4f4f4;
    padding-top: 10%;
    border-bottom: 1px solid #C72C48;
    width: 60%;
    margin: auto;
}
#mor {
    font-size: 30px;
    color: #f4f4f4;
}
.white_no {
    font-size: 37px;
    color: #f4f4f4;
}
.gray_no {
    font-size: 33px;
    color: #757474;
}
.sub_d {
    font-size: 20px;
}
.under_cost {
    font-size: 29px;
    color: #f4f4f4;
    padding-top: 10%;
    margin: auto;
    width: 90%;
}
.li_mem {
    list-style-type: none;
    font-size: 25px;
    color: #f4f4f4;
    width: 85%;
    margin: auto;
    text-align: left;
    padding-top: 1%;
}
.li_mem:before {
    content: "✓";
    color: #C72C48;
}
#div_sec_1, #div_sec_3 {
    padding-top: 10%;
}
#div_sec_2 {
    padding-top: 5%;
}
.a_ch_b {
    font-family: 'FuturaDemiC';
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: #f4f4f4;
    margin: auto;
    background: none;
    font-size: 29px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0.5em 1.5em;
    outline: none;
    border: 1px solid #CAA869;
    border-radius: 1px;
    transition: 0.2s;
}
.a_ch_b:hover {
    background: rgba(255,255,255,.2);
}
.a_ch_b:active {
    background: white;
}
#d_a_ch_1 {
    padding-top: 10%;
}
.d_a_ch_2_3 {
    padding-bottom: 12%;
    padding-top: 10%;
}





