/*FONTS*/
@font-face {
    font-family: 'FuturaMediumC';
    src: url('font_futura/FuturaMediumC.eot');
    src: local('font_futura/Futura Medium Cyrillic'), local('font_futura/FuturaMediumC'),
    url('font_futura/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
    url('font_futura/FuturaMediumC.woff') format('woff'),
    url('font_futura/FuturaMediumC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaDemiC';
    src: url('font_futura/FuturaDemiC-Italic.eot');
    src: local('font_futura/Futura Demi Italic Cyrillic'), local('font_futura/FuturaDemiC-Italic'),
    url('font_futura/FuturaDemiC-Italic.eot?#iefix') format('embedded-opentype'),
    url('font_futura/FuturaDemiC-Italic.woff') format('woff'),
    url('font_futura/FuturaDemiC-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'FuturaLightC';
    src: url('font_futura/FuturaLightC.eot');
    src: local('font_futura/Futura Light Cyrillic'), local('font_futura/FuturaLightC'),
    url('font_futura/FuturaLightC.eot?#iefix') format('embedded-opentype'),
    url('font_futura/FuturaLightC.woff') format('woff'),
    url('font_futura/FuturaLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*HTML Sittings*/
html {
    background-color: #302F2B;
    font-family: 'FuturaMediumC';
    font-weight: 500;
    font-style: normal;

}
a {
    text-decoration: none;
    color: #f4f4f4;
}
a:visited {
    color: #f4f4f4;
}
a:hover {
    color: #CAA869;
    text-decoration: underline;
}
/*WRAPPER*/

.all_page {

}
/*HEADER SITTINGS*/
.header_el {
    text-align: center;
    color: #CAA869;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 25px 0 25px 0;
}
.logo_name_img_el {
    object-fit: cover;
    height: 81px;
    width: 81px;
}
.logo_name_1_el {
    padding-right: 40px;
}
.logo_name_2_el {
    padding-left: 40px;
}
#header_mobile {
    display: none;
}
/*END HEADER SITTINGS*/

/*SPECIAL_OFFER_SECTION*/
.special_offer_section_el {
    background: url("image/top-banner 2.jpg") no-repeat;
    background-size: 100vw;
    height: 46vw;
    color: #F4F4F4;
    object-fit: cover;
}
/*NAVIGATION*/
.nav_ul_el {
    list-style-type: none;
    text-align: center;
    font-size: 23px;
}
.nav_ul_li {
    display: inline-block;
    padding: 26px;
}
#nav_bar_mobile {
    display: none;
}
/*SPECIAL OFFER*/
.sp_offer_el {
    padding: 11vw 0 0 11vw;
}
/*SPECIAL OFFER BIG TEXT*/
.sp_offer_1_el {
    font-family: 'FuturaDemiC';
    font-weight: normal;
    font-style: italic;
    display: flex;
    flex-direction: row;
    height: 140px;
}
.sp_offer_2_el {
    font-family: 'FuturaLightC';
    font-style: italic;
}
.big_2_el {
    font-size: 180px;
    position: relative;
    top: -26px;
}
.sp_big_el {
    font-size: 40px;
    text-align: left;
}
.sp_offer_p_el {
    font-size: 26px;
}
.booking_fc_button_el {
    background: none;
    color: #CAA869;
    font-size: 30px;
    text-decoration: none;
    padding: .2em 2em;
    outline: none;
    border: 2px solid #CAA869;
    border-radius: 1px;
    transition: 0.2s;
}
.booking_fc_button_el:hover {
    background: rgba(255,255,255,.2);
}
.booking_fc_button_el:active {
    background: white;
}
/*END SPECIAL OFFER PART*/

/*SOME THINGS ABOUT US*/
.headline_st_el {
    text-align: center;
    color: #f4f4f4;
    font-size: 37px;
    background: #CAA869;
    padding: 50px 0;
}
.headline_st_el:before {
    content: '';
    background: #302F2B;
    height: 3px;
    width: 14%;
    display: inline-block;
    position: relative;
    top: -8px;
    right: 34px;
}
.headline_st_el:after {
    content: '';
    background: #302F2B;
    height: 3px;
    width: 14%;
    display: inline-block;
    position: relative;
    top: -8px;
    left: 34px;
}
.main_text_st_el {
    margin: auto;
    text-align: center;
    font-size: 35px;
    color: #f4f4f4;
    padding-top: 39px;
    width: 62.3%;
    position: relative;
}
/*HARD PARTY!!!*/
.plus_st_el {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
}
/*FIRST ROW*/
.pl_1_1_el {
    text-align: left;
    padding: 13% 0 0 35%;
}
.pl_1_2_el {
    text-align: left;
    padding: 13% 0 0 19%;
}
.js_number {
    font-size: 65px;
    color: #f4f4f4;
    opacity: 0;
}
.div_pl_up_el {
    display: flex;
}
.m2_el {
    font-size: 28px;
    color: #f4f4f4;
    padding-top: 24px;
}
.p_pl_down {
    font-size: 30px;
    color: #CAA869;
}
.div_mt_el {
    font-size: 23px;
    font-family: 'FuturaDemiC';
    font-weight: normal;
    font-style: italic;
    color: #f4f4f4;
    padding-top: 8px;
}
/*SECOND ROW*/
.pl_2_1_el {
    text-align: center;
    padding: 16% 0 0 48%;
}
.pl_2_2_el {
    text-align: center;
    padding: 16% 0 0 24%;
}

/*LINES*/
/*#pl_2_1:before {
    content: url("image/Line_1.png");
    display: block;
    margin: -74% 38% -12% -31%;
}
#pl_1_2:before {
    content: url("image/Line_2.png");
    display: block;
    margin: -6% 0% -47.2% -46%;
    padding-top: 15%;
}
#pl_1_2:after {
    content: url("image/Line_3.png");
    display: block;
    margin: 0 0 0 0;
}*/
.a_join_1_el {
    display: flex;
    padding-top: 91px;
}
.a_j_us_el {
    font-family: 'FuturaDemiC';
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: #f4f4f4;
    margin: auto;
    background: none;
    font-size: 40px;
    text-decoration: none;
    padding: 0.5em 1.5em;
    outline: none;
    border: 1px solid #CAA869;
    border-radius: 1px;
    transition: 0.2s;
}
.a_j_us_el:hover {
    background: rgba(255,255,255,.2);
}
.a_j_us_el:active {
    background: #f4f4f4;
    color: #CAA869;
}
/*END HARD PARTY*/

/*START MEMBERSHIP PART*/
.MemItems__ButtonTrigger {
    display: none;
}
#membership {
    padding-top: 7%;
}
#headline_mem {
    text-align: center;
    color: #f4f4f4;
    font-size: 37px;
    background: #757474;
    padding: 50px 0;
}
#headline_mem:before {
    content: '';
    background: #CAA869;
    height: 3px;
    width: 14%;
    display: inline-block;
    position: relative;
    top: -8px;
    right: 34px;
}#headline_mem:after {
     content: '';
     background: #CAA869;
     height: 3px;
     width: 14%;
     display: inline-block;
     position: relative;
     top: -8px;
     left: 34px;
 }
#membership_art {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    padding: 7% 10% 0 10%;
}
#m6_sec, #m6_12_sec, #m12_sec {
    border: dashed 3px #CAA869;
    border-radius: 6px;
}
#m6_sec {
    height: 87%;
}
#m12_sec {
    height: 96%;
}
#m6_sec:hover, #m6_12_sec:hover, #m12_sec:hover {
    background: rgba(202,168,105,0.11);
    border: 3px solid #CAA869;
}
#d_sec_1 {
    text-align: center;
}
.art_sec_h3 {
    font-size: 37px;
    color: #f4f4f4;
    padding-top: 10%;
    border-bottom: 1px solid #C72C48;
    width: 60%;
    margin: auto;
}
#mor {
    font-size: 30px;
    color: #f4f4f4;
}
.white_no {
    font-size: 37px;
    color: #f4f4f4;
}
.gray_no {
    font-size: 33px;
    color: #757474;
}
.sub_d {
    font-size: 20px;
}
.under_cost {
    font-size: 29px;
    color: #f4f4f4;
    padding-top: 10%;
    margin: auto;
    width: 90%;
}
.li_mem {
    list-style-type: none;
    font-size: 25px;
    color: #f4f4f4;
    width: 85%;
    margin: auto;
    text-align: left;
    padding-top: 1%;
}
.li_mem:before {
    content: "✓";
    color: #C72C48;
}
#div_sec_1, #div_sec_3 {
    padding-top: 10%;
}
#div_sec_2 {
    padding-top: 5%;
}
.a_ch_b {
    font-family: 'FuturaDemiC';
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: #f4f4f4;
    margin: auto;
    background: none;
    font-size: 29px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0.5em 1.5em;
    outline: none;
    border: 1px solid #CAA869;
    border-radius: 1px;
    transition: 0.2s;
}
.a_ch_b:hover {
    background: rgba(255,255,255,.2);
}
.a_ch_b:active {
    background: #CAA869;
    color: #f4f4f4;
}
#d_a_ch_1 {
    padding-top: 10%;
}
.d_a_ch_2_3 {
    padding-bottom: 12%;
    padding-top: 10%;
}
#under_mem {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 7%;
}
#p1_um {
    color: #f4f4f4;
    font-family: 'FuturaLightC';
    font-style: italic;
    font-size: 37px;
}
#a_join_mem {
    padding-left: 3%;
}
#a_j_us_mem {
    font-family: 'FuturaDemiC';
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: #f4f4f4;
    margin: auto;
    background: none;
    font-size: 40px;
    text-decoration: none;
    padding: 0.5em 1.5em;
    outline: none;
    border: 1px solid #CAA869;
    border-radius: 1px;
    transition: 0.2s;
}
#a_j_us_mem:hover {
    background: rgba(255,255,255,.2);
}
#a_j_us_mem:active {
    background: #f4f4f4;
    color: #CAA869;
}
.Membership_m {
    display: none;
}
/*END MEMBERSHIP*/

/*START GALLERY*/
.div-style {
    display: none;
}
#gallery {
    padding-top: 7%;
}
#header_gal {
    text-align: center;
    color: #f4f4f4;
}
#h_gal_h2 {
    font-size: 30px;
    position: relative;
    display: inline-block;
}
#h_gal_h2:before, #h_gal_h2:after {
    content:"";
    height: 100%;
    display: block;
    position: absolute;
}
#h_gal_h2:before {
    background: #302F2B;
    z-index: -1;
    height: 101%;
    left: -45px;
    right: -45px;
}
#h_gal_h2:after {
    background: #CAA869;
    width: 100vw;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -2;
    height: 100%;
}
/*Photo_Box*/
.hamam_ph, .finnish_s_ph {
    width: 100%;
}
.yoga_w_ph {
    height: 100%;
}
.photo_box {
    display: flex;
}
.photo_back {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.div_ph:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.div_ph {
    width: 100%;
    object-fit: cover;
    height: 100%;
    opacity: 0.56;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.title_ph {
    margin: auto;
    position: absolute;
    font-size: 30px;
    opacity: 0.75;
    background: #4F4F4F;
    color: #f4f4f4;
    padding: 0 12px;
}
.div_ph {
    opacity: 0.56;
}
.dance_ph_el {
    width: 57vw;
}
.mas_ph_el {
    width: 42vw;
    height: 46vw;
}
.yoga_ph_el {
    width: 68vw;
    height: 26vw;
}
#gallery:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2vw;
    background: #CAA869;
}
/*END GALLERY*/

/*START FORM*/

#div_join_us {
    padding-top: 7%;
    text-align: center;
}
#div_ju_form {
    width: 885px;
    margin: auto;
}
#header_form {
    font-size: 50px;
    color: #f4f4f4;
    font-family: 'FuturaDemiC';
    font-weight: normal;
    font-style: italic;
    text-align: left;

}
#header_form, #under_header_form {
    padding: 0 5vw;
    position: relative;
}
#under_header_form {
    font-size: 37px;
    color: #f4f4f4;
    font-family: 'FuturaLightC';
    font-style: italic;
    text-align: left;
    padding-top: 2%;
}
#form_ju {
    margin: auto;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding-top: 60px;
}
#form_name, #form_number {
    font-size: 43px;
    color: #f4f4f4;
    font-style: italic;
    text-align: left;
}
#form_number {
    padding-left: 10vw;
}
#name_number {
    display: flex;
}
.form_name_f {
    border: 1px solid #302F2B;
    font-size: 31px;
    background: none;
    border-bottom: 1px solid #f4f4f4;
    color: #f4f4f4;
}
#form_button {
    padding-top: 9%;
}
#button {
    font-size: 40px;
    font-family: 'FuturaDemiC';
    font-weight: normal;
    font-style: italic;
    color: #F4F4F4;
    background: none;
    border: 2px solid #CAA869;
    padding: 1rem 6rem;
}
#button:hover {
    background: rgba(255,255,255,.2);
}
#button:active {
    background: #f4f4f4;
    color: #CAA869;
}
#main_section:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1vw;
    background: #CAA869;
    margin-top: 10%;
}
/*END FORM*/

/*START FOOTER*/
#footer_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#logo_div {
    margin: auto;
    color: #f4f4f4;
    font-size: 26px;
    background: url("image/Logo.png") no-repeat;
    background-size: 28% 88%;
    background-position: top;
    padding: 15px;
}
#nav_div {
    text-align: center;
    font-size: 23px;
}
/*END FOOTER*/

/*START ADAPTIVE*/
.Navbar__Link_a {
    font-size: 16px;
    text-align: left;
}
.Navbar {
    display: flex;
}
.Navbar__Items {
    display: flex;
}
@media (max-width: 1080px) {
    .art_sec_h3 {
        font-size: 33px;
    }
    .white_no {
        font-size: 25px;
    }
    .gray_no {
        font-size: 25px;
    }
    .under_cost {
        font-size: 22px;
    }
    .li_mem {
        font-size: 19px;
        padding-top: 5%;
    }
    .a_ch_b {
        font-size: 24px;
    }
    #m6_sec, #m6_12_sec, #m12_sec {
        margin: auto;
    }
    #div_ju_form {
        width: auto;
    }
    #name_number {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    #form_number {
        text-align: center;
        padding: 13vw 0 0 0;
    }
    #form_name {
        text-align: center;
    }
    .sp_offer_el {
        padding: 2vw 0 0 6vw;
    }
}
@media (max-width: 1020px) {
    .sp_offer_el {
        padding: 1vw 0 0 14vw;
    }
}
@media (max-width: 900px) {
    .sp_offer_el {
        padding: 0vw 0 0 5vw;
    }
    #booking_fc_button {
        padding: .2em 1em;
    }
}
@media (max-width: 872px) {
    #nav_div {
        font-size: 17px;
    }
}
@media (max-width: 860px) {
    .big_2_el {
        font-size: 145px;
    }
    .sp_big_el {
        font-size: 31px;
        text-align: left;
    }
    .sp_offer_p_el {
        font-size: 20px;
    }
    .sp_offer_1_el {
        height: 105px;
    }
    .a_ch_b {
        font-size: 20px;
    }
    #under_mem {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    #a_join_mem {
        padding-left: 0;
        padding-top: 26px;
    }
}
/*START MOBILE GALLERY*/
@media (max-width: 780px) {
    .photo_box {
        display: none;
    }
    @keyframes fadeIm-1
    {
        from    { opacity: 1; }
        16%     { opacity: 1; }
        25%     { opacity: 0; }
        91%     { opacity: 0; }
        to      { opacity: 1; }
    }
    @keyframes fadeIm-2
    {
        from    { opacity: 0; }
        16%     { opacity: 0; }
        25%     { opacity: 1; }
        41%     { opacity: 1; }
        50%     { opacity: 0; }
        to      { opacity: 0; }
    }
    @keyframes fadeIm-3
    {
        from    { opacity: 0; }
        41%     { opacity: 0; }
        50%     { opacity: 1; }
        66%     { opacity: 1; }
        75%     { opacity: 0; }
        to      { opacity: 0; }
    }
    @keyframes fadeIm-4
    {
        from    { opacity: 0; }
        66%     { opacity: 0; }
        75%     { opacity: 1; }
        91%     { opacity: 1; }
        to      { opacity: 0; }
    }
    .div-style
    {
        position: relative;
        text-align: center;
        width: 99%;
        display: block;
        padding-top: 25px;
    }
    .img-style
    {
        width: 91.3%;
        margin-top: 8px;
        border: 1px solid #CAA869;
        animation-duration: 24s;
        animation-iteration-count: infinite;
        height: 93%;
    }
    .img-style.next
    {
        position: absolute;
        height: 93%;
        opacity: 0;
        left: 4.9%;
    }
    .img-style.im-1
    {
        animation-name: fadeIm-1;
    }
    .img-style.next.im-2
    {
        animation-name: fadeIm-2;
    }
    .img-style.next.im-3
    {
        animation-name: fadeIm-3;
    }
    .img-style.next.im-4
    {
        animation-name: fadeIm-4;
    }
    #gallery:after {
        margin-top: 25px;
    }
}
/*END MOBILE GALLERY*/
@media (max-width: 765px) {
    #membership_art {
        padding: 7% 5% 0 5%;
    }
}
/*Mobile design*/
@media only screen and (max-width: 730px) {
    /*Fixed header*/
    .logo_name_1_el_mobile {
        padding-right: 11vw;
    }
    .sp_offer_el {
        padding: 7vw 0 0 5vw;
    }
    .Navbar__Items,
    .Navbar {
        flex-direction: column;
        text-align: center;
    }
    .Navbar__Items {
        display: none;
    }
    .Navbar__Link-toggle {
        display: initial;
        cursor: pointer;
        padding-top: 14px;
        padding-left: 8vw;
    }
    .Navbar__ToggleShow {
        display: grid;
        position: absolute;
        opacity: 0.92;
        background: #302F2B;
        margin-top: 44px;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 9.16vw;
    }
    h2 {
        font-size: 23px;
    }
    .header_el {
        margin: 0;
        height: 68px;
    }
    #logo_name_1, #logo_name_img, #logo_name_2 {
        display: none;
    }
    #logo_name_img_mobile {
        height: 39px;
        width: 40px;
    }
    #nav_bar {
        display: none;
    }
    #header_mobile {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 6vw;
        padding: 8px 7vw 0 8vw;
        background: #302F2B;
        z-index: 1;
        position: fixed;
    }
    #mob_h {
        font-size: 16px;
    }
    .nav_menu {
        font-size: 12px;
        margin-right: auto;
        text-align: center;
        display: flex;
    }
    #menu_t {
        font-size: 21px;
    }
    #menu_t_logo {
        padding: 4px 0 6px 4px;
        height: 24px;
    }
    .headline_st_el {
        font-size: 25px;
        padding: 11px 0;
    }
    .headline_st_el::before, .headline_st_el::after {
        display: none;
    }
    .main_text_st_el {
        font-size: 22px;
        width: 80.3%;
        letter-spacing: 1px;
    }
    .plus_st_el {
        grid-template-columns: repeat(1, 1fr);
    }
    .pl_1_1_el, .pl_1_2_el, .pl_2_1_el, .pl_2_2_el {
        padding: 20px 0 0 0;
        margin: auto;
        text-align: center;
    }
    #div_pl_up_1, #div_pl_up_2 {
        justify-content: center;
    }
    .js_number {
        height: 50px;
        font-size: 50px;
    }
    #a_join {
        display: none;
    }
    .m2_el {
        font-size: 19px;
    }
    .p_pl_down {
        font-size: 20px;
    }
    .div_mt_el {
        font-size: 17px;
    }
    #headline_mem {
        font-size: 20px;
        padding: 15px 0;
    }
    #headline_mem:before, #headline_mem:after {
        display: none;
    }
    #membership_art {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 7% 5% 0 5%;
        grid-gap: 20px;
    }
    #m6_sec {
        height: 525px;
    }
    #d_a_ch_1 {
        padding: 16px 0;
    }
    .d_a_ch_2_3 {
        padding: 26px 0;
    }
    .ch_3 {
        padding: 45px 0;
    }
    .MemItems__ButtonTrigger {
        display: grid;
    }
    .m_c {
        display: none;
    }
    .m_c__ToggleShow {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .m_c2 {
        display: none;
    }
    .m_c__ToggleShow_2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .Membership_m {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .MemItems {
        padding-top: 15px;
    }
    .m_c3 {
        display: none;
    }
    .m_c__ToggleShow_3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .MemItems__ButtonTrigger, .MemItems__ButtonTrigger_2, .MemItems__ButtonTrigger_3 {
        background: none;
        border: 1px dashed #CAA869;
        padding: 2vw 17vw;
    }
    .MemItems__ButtonTrigger:hover, .MemItems__ButtonTrigger_2:hover,
    .MemItems__ButtonTrigger_3:hover {
        border: 1px solid #CAA869;
    }
    .MemItems__ButtonTrigger_name {
        font-size: 25px;
        color: #f4f4f4;
        font-family: 'FuturaDemiC';
        font-weight: normal;
        font-style: italic;
    }
    #under_mem {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    #a_j_us_mem {
        font-size: 25px;
    }
    #a_join_mem {
        padding-top: 5%;
    }
    .nav_ul_li {
        padding: 20px 3px;
    }
}
@media (max-width: 600px) {
    .sp_offer_el {
        padding: 2vw 0 0 7vw;
    }
}
@media (max-width: 530px) {
    .special_offer_section_el {
        background-size: 100vw 53vw;
        height: 52vw;
    }
    .sp_offer_el {
        padding: 7vw 0 0 7vw;
    }
    .sp_offer_1_el {
        height: 99px;
    }
    .big_2_el {
        font-size: 124px;
        top: -15px;
    }
    .sp_big_el {
        font-size: 29px;
    }
    .sp_offer_p_el {
        font-size: 17px;
        height: 46px;
    }
    .booking_fc_button_el {
        font-size: 19px;
        border: 1px solid #CAA869;
        padding: 0.2em 0.5em;
    }
}

@media (max-width: 510px) {
    .sp_offer_el {
        padding: 4vw 0 0 5vw;
    }
    #header_mobile {
        grid-gap: 5vw;
    }
}
@media (max-width: 450px) {
    #nav_div {
        font-size: 13px;
    }
}
@media (max-width: 407px) {
    #logo_div {
        font-size: 23px;
    }
    .sp_offer_1_el {
        height: 75px;
    }
    .big_2_el {
        font-size: 100px;
    }
    .sp_big_el {
        font-size: 22px;
    }
    .sp_offer_p_el {
        font-size: 17px;
    }

}
@media (max-width: 390px) {
    .sp_offer_el {
        padding: 4vw 0 0 7vw;
    }
    .form_name_f {
        font-size: 24px;
    }
    #logo_div {
        font-size: 23px;
    }
}